.main_wrap {
  font-size: 24px;
}

.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.colorMark_container {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.colorMark {
  width: 80px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--white);
}

@media (max-width: 950px) {
  .main_wrap {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .main_text_container {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }

  .main_container {
    justify-content: center;
  }
}
